<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-4 border-bottom">
    <h1 class="text-primary">
      <i class="bi bi-clipboard2-check-fill"></i> Services
    </h1>
  </header>

  <main>
    <p class="fs-5 col-md-8">
      American Diagnostic Laboratory, Inc takes pride in providing excellent
      service to physicians, institutions, and patients. We respond to inquiries
      in a courteous and reliable manner and perform testing with accuracy and
      speed. Our personalized service is unmatched, and our field
      representatives have at least 8 years of experience in the industry.
      American Diagnostic Lab values transparency and provides full access to
      quality control records and results of our randomized proficiency testing.
      Interested individuals can call or visit the laboratory center for a full
      tour.
    </p>
    <h3 class="text-primary">Courier Services</h3>
    <p class="fs-5 col-md-8">
      American Diagnostic Laboratory, Inc offers in-house courier services that
      prioritize the preservation of specimen integrity by efficiently
      retrieving patient specimens. We use advanced tracking systems to schedule
      pickup and delivery that can accommodate almost any pickup requirement.
    </p>
    <h3 class="text-primary">House Calls</h3>
    <p class="fs-5 col-md-8">
      American Diagnostic Laboratory, Inc offers convenient home services and
      has a dedicated and empathetic staff to cater to the needs of home-bound
      patients. Our team of phlebotomists, who are supervised by experienced
      managers, is well-equipped to serve a wide range of client needs. Each
      phlebotomist can be easily located and dispatched when required.
      Additionally, all of the phlebotomists at American Diagnostic Lab, Inc
      have a minimum of 350 venipunctures under their belt.
    </p>
    <h3 class="text-primary">Laboratory Results Delivery</h3>
    <p class="fs-5 col-md-8">
      American Diagnostic Laboratory, Inc provides flexible reporting options to
      ensure that reports are delivered when and how you need them. We offer
      various report delivery methods, such as courier service for daily
      delivery, customized options, immediate remote fax, an online laboratory
      management system, and the integration of their laboratory information
      system (LIMS) with your electronic medical records (EMR) or electronic
      health records (EHR).
    </p>
    <h3 class="text-primary">Client Services</h3>
    <p class="fs-5 col-md-8">
      American Diagnostic Laboratory, Inc Client Services department is staffed
      by a team of professionals led by a dedicated supervisor with over twenty
      years of experience in client services. The department is operational for
      10 hours a day, 5 days a week, and prioritizes the needs of each
      individual patient. We emphasize the values of courtesy, compassion, and
      professional expertise, and strive to provide accurate testing, prompt
      service, and responsiveness to clients' needs.
    </p>
  </main>
</div>
